@mixin button-styles {
    padding: 13px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6),inset 0px -4px 12px 0px rgba(0, 0, 0, 0.22);
    background: linear-gradient(0.00deg, rgb(72, 101, 255) -24.363%,rgb(19, 216, 228) 118.272%);
    font-size: 14px;
    &:hover {
      background: var(--42DA96, #42DA96);
    }
  }