@import 'mixin';

body {
    margin: 0;
    padding: 0; 
    background: rgb(27, 27, 32);
  }

.effect-1 {
  background: linear-gradient(180.00deg, rgb(23, 23, 40) 12.44%,rgba(30, 58, 100, 0.03) 100%);

  height: 6784px;
  
}

  .effect {
    background: linear-gradient(180.00deg, rgba(35, 71, 99, 0) 16.089%,rgb(14, 52, 81) 48.583%,rgba(38, 28, 102, 0.29) 100%);
    height: 6784px;
  }
  .container {
    width: 1215px;
    margin: 0 auto;

  }
  
  header {
    width: 1215px;

    display: flex;
    align-items: center;
  }
  
  .logo img {
    max-height: 100%;
  }

  .main-menu {
   
    margin-left: 680px;
  }
  
  .menu-ul {
    list-style: none;
    display: flex;
    margin-top: 60px;
  
    .menu-ul-li {
      margin-right: 30px;

      .menu-ul-li-a {
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;

        
       &:hover {
        color: rgb(115, 255, 242);
    }
      }
  }
  }

.wrap {
  display: flex;
}

.wrap-left {
  width: 475px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;

  
}

.wrap-left-h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.wrap-left-p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 60px;
}

.wrap-left-but {
  @include button-styles;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 15px;
}

.wrap-right-img {
  background-image: url(../img/banner.png);
  width: 728px;
  height: 392px;
}

.block {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6);
  backdrop-filter: blur(30px);
  background: rgba(125, 71, 143, 0.4);
  padding: 60px;
  
}

  .block-h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
  padding: 0px 50px;
  }

.block-img {
  margin-bottom: 120px;
  background-image: url(../img/shema.png);
  width: 918px;
  height: 550px;
margin: 0 auto;
}

.block-param {
   display: flex; 
   justify-content: center;
   align-items: center;
   margin-bottom: 125px;
}

.block-param-1 {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 125px;
}

.block-param-left-img {
  margin-right: 125px;

}

.block-param-right {
  width: 530px;
  
}

.block-param-right-1 {

  width: 520px;
  margin-right: 125px;
}

.block-param-right-h2 {
font-size: 35px;
font-weight: 600;
margin-bottom: 30px;

}

.block-param-right-hr {
width: 208px;  
height: 2px;
border-radius: 20px;
background: linear-gradient(0.00deg, rgb(72, 101, 255) -24.363%,rgb(19, 216, 228) 118.272%);
margin-bottom: 30px;
}

.block-param-right-p {
font-size: 18px;
line-height: 170%;
font-weight: 400;
}

.block-slider-h1 {
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.block-slider-hr {
  margin: 0 auto;
  width: 208px;  
  height: 2px;
  border-radius: 20px;
  background: linear-gradient(0.00deg, rgb(72, 101, 255) -24.363%,rgb(19, 216, 228) 118.272%);
  margin-bottom: 40px;
}

.block-slider-img {
  background-image: url(../img/preview.png);
  width: 1012px;
  height: 583px;
  margin: 0 auto;
  margin-bottom: 120px;
}

// SLIDER

.slider-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  margin-right: 10px;
  flex: 0 0 33.33%;



}

.slide img {
  width: 300px;
  height: 193px;
  border-radius: 11.26px;
  &:hover {
    transition: 0.5s;
    transform: scale(1.2);
    background-position: center center;
  }
 
 
}

.controls {
  margin-top: 10px;
  text-align: center;
}

button {
  background: none;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.panel {
  display: flex;
  margin-top: 50px;
  align-items: center;
justify-content: center;
}

.indicators {

  display: inline-block;

}

.indicator {
  display: inline-block;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid rgb(40, 63, 79);
  border-radius: 6px;
  background: rgb(37, 49, 66);
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.4;

  &:hover {
    opacity: 0.8;
  }

}

.active {
  color: rgb(255, 255, 255);
  opacity: 1;
}

// FEEDBACKFORM

.feedback-form {

  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
}

label {
  display: block;
  font-weight: bold;
}

.input-field {
  width: 410px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 60px;
}

.message-field {
  width: 900px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

