body {
  margin: 0;
  padding: 0;
  background: rgb(27, 27, 32);
}

.effect-1 {
  background: linear-gradient(180deg, rgb(23, 23, 40) 12.44%, rgba(30, 58, 100, 0.03) 100%);
  height: 6784px;
}

.effect {
  background: linear-gradient(180deg, rgba(35, 71, 99, 0) 16.089%, rgb(14, 52, 81) 48.583%, rgba(38, 28, 102, 0.29) 100%);
  height: 6784px;
}

.container {
  width: 1215px;
  margin: 0 auto;
}

header {
  width: 1215px;
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 100%;
}

.main-menu {
  margin-left: 680px;
}

.menu-ul {
  list-style: none;
  display: flex;
  margin-top: 60px;
}
.menu-ul .menu-ul-li {
  margin-right: 30px;
}
.menu-ul .menu-ul-li .menu-ul-li-a {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}
.menu-ul .menu-ul-li .menu-ul-li-a:hover {
  color: rgb(115, 255, 242);
}

.wrap {
  display: flex;
}

.wrap-left {
  width: 475px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
}

.wrap-left-h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.wrap-left-p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 60px;
}

.wrap-left-but {
  padding: 13px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6), inset 0px -4px 12px 0px rgba(0, 0, 0, 0.22);
  background: linear-gradient(0deg, rgb(72, 101, 255) -24.363%, rgb(19, 216, 228) 118.272%);
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 15px;
}
.wrap-left-but:hover {
  background: linear-gradient(0deg, rgb(19, 216, 228) -24.363%, rgb(72, 101, 255) 118.272%);
}

.wrap-right-img {
  background-image: url(../img/banner.png);
  width: 728px;
  height: 392px;
}

.block {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: rgba(125, 71, 143, 0.4);
  padding: 60px;
}

.block-h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
  padding: 0px 50px;
}

.block-img {
  margin-bottom: 120px;
  background-image: url(../img/shema.png);
  width: 918px;
  height: 550px;
  margin: 0 auto;
}

.block-param {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 125px;
}

.block-param-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 125px;
}

.block-param-left-img {
  margin-right: 125px;
}

.block-param-right {
  width: 530px;
}

.block-param-right-1 {
  width: 520px;
  margin-right: 125px;
}

.block-param-right-h2 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
}

.block-param-right-hr {
  width: 208px;
  height: 2px;
  border-radius: 20px;
  background: linear-gradient(0deg, rgb(72, 101, 255) -24.363%, rgb(19, 216, 228) 118.272%);
  margin-bottom: 30px;
}

.block-param-right-p {
  font-size: 18px;
  line-height: 170%;
  font-weight: 400;
}

.block-slider-h1 {
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.block-slider-hr {
  margin: 0 auto;
  width: 208px;
  height: 2px;
  border-radius: 20px;
  background: linear-gradient(0deg, rgb(72, 101, 255) -24.363%, rgb(19, 216, 228) 118.272%);
  margin-bottom: 40px;
}

.block-slider-img {
  background-image: url(../img/preview.png);
  width: 1012px;
  height: 583px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.slider-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  margin-right: 10px;
  flex: 0 0 33.33%;
}

.slide img {
  width: 300px;
  height: 193px;
  border-radius: 11.26px;
}
.slide img:hover {
  transition: 0.5s;
  transform: scale(1.2);
  background-position: center center;
}

.controls {
  margin-top: 10px;
  text-align: center;
}

button {
  background: none;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.panel {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.indicators {
  display: inline-block;
}

.indicator {
  display: inline-block;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid rgb(40, 63, 79);
  border-radius: 6px;
  background: rgb(37, 49, 66);
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.4;
}
.indicator:hover {
  opacity: 0.8;
}

.active {
  color: rgb(255, 255, 255);
  opacity: 1;
}

.box {
  margin-top: 300px;
  width: 1220px;
  height: 1700px;
  border-radius: 20px;
  box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: rgba(83, 80, 146, 0.38);
}

.box-form {
  padding: 100px 150px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  text-align: center;
}

.box-form-h1 {
  font-size: 28px;
  font-weight: 700;
}

.box-form-p {
  margin: 0 auto;
  width: 573px;
  font-size: 16px;
  font-weight: 500;
}

.box-form-hr {
  width: 937px;
  margin-top: 40px;
  border: 1px solid rgb(255, 255, 255);
  opacity: 0.3;
}

.box-form-wrap {
  font-family: Montserrat;
  font-size: 16px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin-top: 40px;
  align-items: center;
}

.box-form-text {
  margin-right: 20px;
}

.box-form-link {
  color: rgb(115, 255, 242);
  text-decoration: none;
}

.box-contacts-h2 {
  font-size: 24px;
  font-weight: 600;
}

.box-contacts-p {
  font-size: 16px;
  font-weight: 400;
}

.box-contacts {
  text-align: left;
  margin-top: 70px;
}

.feedback-form {
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.form-group {
  margin-bottom: 25px;
  width: 933px;
  display: flex;
  justify-content: space-between;
}

label {
  display: block;
}

.input-field {
  outline: none;
  width: 44%;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.3);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.06);
  color: rgb(220, 220, 220);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
}

.message-field {
  width: 100%;
  font-size: 16px;
  resize: none;
  border-radius: 15px;
  padding: 15px;
  outline: none;
  font-family: Montserrat;
  font-size: 15px;
  color: rgb(220, 220, 220);
  font-weight: 500;
  box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.3);
  background: rgba(255, 255, 255, 0.06);
}

.submit-button {
  padding: 13px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6), inset 0px -4px 12px 0px rgba(0, 0, 0, 0.22);
  background: linear-gradient(0deg, rgb(72, 101, 255) -24.363%, rgb(19, 216, 228) 118.272%);
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 15px;
}
.submit-button:hover {
  background: linear-gradient(0deg, rgb(19, 216, 228) -24.363%, rgb(72, 101, 255) 118.272%);
}/*# sourceMappingURL=style.css.map */